* {
    padding: 0px;
    margin: 0px;
}

.banner {
    background-image: url(images/billboard.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.796);
    width: 100%;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    padding: 5px;
    margin: 5px;
    font-family: Monsterat sans-serif;
}

.nav-links a {
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
}

.nav-bar {
    position: absolute;
    top: 660px;
    background-color: rgba(240, 248, 255, 0.796);
    padding: 10px;
    width: 100%;
    text-size-adjust: 20px;
    opacity: 0.8;
}

.nav-bar button {
    position: relative;
    padding: 10px;
    background-color: rgba(101, 179, 221, 0.763);
    left: 860px;
}

.grid-display {
    text-align: center;
}

.grid {
    display: flex;
    gap: 330px;
    margin-left: 330px;
    align-items: center;
    /* left: 440px; */
}

.stuff_text {
    display: flex;
    padding: 0px 534px 0px 170px;
    text-align: center;
    gap: 85;
    margin: 20px -328px 20px 52px;
}

.flex_image {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

.testimonals {
    display: flex;
    text-align: center;
    gap: 85px;
    margin-left: 250px;
    margin-top: 40px;
}

.testimonals img {
    border-radius: 50%;
}

.client_logo {
    background-color: rgba(240, 248, 255, 0.837);
    text-align: center;
}

.client_logo img {
    margin: 30px;
    padding-top: 10px;
}

.flex_container1 {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: aliceblue;
    height: 300px;
    top: 50px;
}

.flex_container1 h3 {
    margin-top: 100px;
}

.com li {
    list-style: none;
    color: aliceblue;
    line-height: 25px;
    position: relative;
}

.sup li {
    position: relative;
    list-style: none;
    color: aliceblue;
    line-height: 25px;
}

.footer {
    text-align: center;
    color: aliceblue;
    background-color: black;
}

.about {
    position: absolute;
    color: white;
    background-color: rgba(240, 248, 255, 0.64);
    padding: 20px;
    left: 500px;
}

.about button {
    padding: 5px;
    background-color: rgba(101, 179, 221, 0.763);
}